<div id="list" class="pure-u-1">
		{{#each user}}
        <div class="email-item email-item-selected pure-g">
            <div class="pure-u">
                <img width="64" height="64" class="email-avatar" src={{this.imagelink}}>
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">{{this.username}}</h5>
                <h4 class="email-subject">{{this.usertitle}}</h4>
                <p class="email-desc">
									{{this.usermessage}}
                </p>
            </div>
        </div>
			{{/each}}
</div>

<div id="main" class="pure-u-1">
        <!-- Other user profiles here  -->
</div>

	<!-- Custom Script -->
	<script src="../../js/locationdata.js" type="text/javascript"></script>
